<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Candlestick Chart</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>    
    <header>
        <!-- Form with an input box -->
        <form method="POST" action="/">
            <input type="text" id="input_value" name="input_value" placeholder="Enter a ticker..." required>
        </form>
    </header>

    <!-- Render the Plotly chart -->
    <div id="chart-container">
        {{ candlestick_chart | safe }}
    </div>

    <!-- Render the table -->
    <div id="info-table">
        <table>
            <thead>
                <tr>
                    <td>Price Information</td>
                    <td>Fundamentals</td>
                    <td>Options Data</td>
                </tr>
            </thead>
            <tbody>
                {% for row in info_table %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        <p>Written by George McCannon 2023</p>
    </footer>
</body>
</html>
