<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Candlestick Chart</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ INPUT_TICKER }} Candlestick Chart</h1>
    
    <!-- Render the Plotly chart -->
    <div id="chart-container">
        {{ candlestick_chart | safe }}
    </div>

    <!-- Render the table -->
    <div id="info-table">
        <table>
            <tbody>
                {% for row in info_table %}
                    <tr>
                        {% for column in row %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
